*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navgation-bar{
    width: 100%;
    background-image: linear-gradient(#a85b1b,#dbad86);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.heading-nav{
    color: white;
    padding-top: 10px;
}
.img-nav{
    width: 70px;
}
.navgation-bar ul{
    list-style: none;
    padding-top:20px;
}
@media screen and (min-width:768px){
    .heading-nav{
        padding-left:0px;
    }
}
.navgation-bar ul li{
    padding: 8px;
    color: white;
    display: inline;
    background-image:linear-gradient(#d9a159,#cf8d3a);
}
.navgation-bar ul li a{
    text-decoration: none;
    padding-top: 20px;
    color: white;
}
/* bio header in this css code */
.bio-data-header{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.bio-data-header .header-1-bio{
    text-align: center;
}
.bio-data-header h1{
    padding-top: 20px;
}
hr{
    height: 5px;
    background-color: rgb(196, 121, 10);
    width: 100px;
    margin: 0 auto;
}
.bio-data-header h2{
    padding-top: 20px;
}

.bio-data-header .span-bio{
    color: orange;
}
.bio-data-header .paragraph-1{
    padding-top: 20px;
    width: 400px;
}
.bio-data-header .img-bio-data{
    width: 500px;
    float: right;
    position: absolute;
    right: 50px;
    top: 80px;
}
.bio-data-header .button-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,green);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.second-bio-data{
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;gitr
}
.flex-div{
    display: flex;
}
.div-2 img{
    margin-top: 30px;
    width: 60%;
}
.div-3{
    width: 50%;
    padding: 20px;
    padding-top: 50px;
}
.div-3 .heading-3{
    padding-bottom: 20px;
    color: #a85b1b;
    font-weight: bold;
}
.div-3 .heading-4{
    color: blueviolet;
}
.div-3 .paragraph-10{
    padding-top: 20px;
    word-spacing: 2px;
    line-height: 20px;
    color: teal;
    padding-bottom: 50px;
}
.div-3 .profile-anchor{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    background-color: #a85b1b;
    color: white;
    border-radius: 5px;
}
.header-profile{
    text-align: center;
}
.hori-5{
    text-align: center;
    margin-top: 10px;
}